<ui-gmap-google-map
  center="vm.map.center"
  zoom="vm.map.zoom"
  draggable="true"
  options="vm.options">

  <ui-gmap-markers
    models="vm.markers"
    coords="'self'"
    icon="'icon'"
    click="vm.clickMarker">
  </ui-gmap-markers>

  <ui-gmap-polyline
    path="vm.activeVideo.getPath()"
    visible='vm.activeVideo.getVisible()'
    geodesic='true'
    fit="false"
    editable="false"
    draggable="false"
    static="true">
  </ui-gmap-polyline>

  <ui-gmap-circle
    center="vm.activeVideo.getCenter()"
    radius="vm.activeVideo.getRadius()">
  </ui-gmap-circle>

  <ui-gmap-markers
    models="vm.nearbyPoiMarkers"
    coords="'self'"
    icon="'icon'"
    options="'options'">
  </ui-gmap-markers>

    <ui-gmap-markers
      models="vm.visiblePoiMarkers"
      coords="'self'"
      icon="'icon'"
      options="'options'">
    </ui-gmap-markers>

</ui-gmap-google-map>

<!--
<div class="video-list">
  <p
    ng-repeat="poi in vm.activeVideo.getCurrentPois()">
    <span>{{poi.name}}</span>
  </p>
</div>
-->
<div class="overlay" ng-class="{visible: vm.activeVideo.getVisible()}">

  <button class="btn btn-default btn-sm" ng-click="vm.closeVideo()">close</button>

  <div class="videoplayer">
    <video autoplay="autoplay" type="video/mp4" ng-src="{{vm.activeVideo.getSrc()}}" controls="controls"></video>
  </div>

</div>
<div class="loading" ng-class="{visible: vm.loading}">
  <img src="images/loader.gif" alt="loading" />
</div>
