<ui-gmap-google-map
  center="vm.map.center"
  zoom="vm.map.zoom"
  draggable="true"
  options="vm.options">

  <ui-gmap-markers
    models="vm.videos"
    coords="'self'"
    icon="'icon'"
    click="'click'">
  </ui-gmap-markers>

  <ui-gmap-polyline
    path="vm.activeVideo.path"
    stroke="vm.activeVideo.stroke"
    visible='vm.activeVideo.visible'
    geodesic='true'
    fit="false"
    editable="false"
    draggable="false"
    static="true">
  </ui-gmap-polyline>

</ui-gmap-google-map>
<div class="video-list">
  <p
    ng-repeat="video in vm.videos"
    ng-class="{active: video === vm.activeVideo}"
    ng-click="vm.setActive(video)">
    <span>{{video.id}}</span>
  </p>
</div>
