<ui-gmap-google-map
  center="vm.map.center"
  zoom="vm.map.zoom"
  draggable="true"
  options="vm.options">

  <ui-gmap-markers
    models="vm.videos"
    coords="'self'"
    icon="'icon'"
    click="'click'">
  </ui-gmap-markers>

  <ui-gmap-polyline
    path="vm.activeVideo.path"
    stroke="vm.activeVideo.stroke"
    visible='vm.activeVideo.visible'
    geodesic='true'
    fit="false"
    editable="false"
    draggable="false"
    static="true">
  </ui-gmap-polyline>

  <ui-gmap-circle
    center="vm.activeVideo.center"
    radius="vm.activeVideo.radius">
  </ui-gmap-circle>

  <ui-gmap-markers
    models="vm.activeVideo.nearbyPois"
    coords="'self'"
    icon="'icon'"
    options="'options'">
  </ui-gmap-markers>

  <ui-gmap-markers
    models="vm.activeVideo.visiblePois"
    coords="'self'"
    icon="'icon'"
    options="'options'">
  </ui-gmap-markers>

</ui-gmap-google-map>
<div class="video-list">
  <p
    ng-repeat="poi in vm.activeVideo.timeline[vm.activeVideo.second]">
    <span>{{poi.name}}</span>
  </p>
</div>
<div class="videoplayer" ng-class="{visible: vm.activeVideo.visible === true}">
  <video autoplay="autoplay" type="video/mp4" ng-src="{{vm.activeVideo.src}}" controls="controls"></video>
</div>
