$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0px;
  margin: 0px;
}

.angular-google-map-container,
.angular-google-map,
.container {
  height: 100%;
  padding: 0px;
  position: absolute;
  width: 100%;
}

.header {
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0px -6px 20px #000000;
  padding: 10px;
  position: absolute;
  width: 100%;
  z-index: 99;
  h3 {
    margin-top: 4px;
  }
}

.markdown {
  padding: 79px 20px 20px 20px;
}

.video-list {
  background: {
    color: #ffffff;
  };
  font: {
    size: 10px;
  }
  padding: 5px;
  position: absolute;
  top: 80px;
  right: 10px;
  width: 300px;

  p {
    cursor: pointer;
    &.active {
      background: {
        color: #add8e6;
      };
      cursor: default;
    }
  }
}

.videoplayer {
  display: none;
  left: 10px;
  position: absolute;
  top: 90px;
  width: 450px;

  video {
    width: 100%;
  }
}

.visible {
  display: block;
}

